<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.batch.repository.DepartmentsRepository">
    <select id="getDepartments" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM employees.departments
    </select>

    <select id="getDeptManager" parameterType="java.util.Map" resultType="com.spring.batch.domain.DeptManager">
        SELECT * FROM employees.dept_manager;
    </select>


</mapper>